.calculator {
  display: flex;
  justify-content: center;
  align-items: center;



    &__container {
      background-color: #fff;
      padding-bottom: 36px;
    }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 400;
    margin-left: -220px;
    @media screen and (min-width:768px) {
        margin-left: 15px;
      }

  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }

  &__input-1,
  &__input-2,
  &__input-3 {
    font-family: "Montserrat";
    border-radius: 20px;
    padding: 10px 20px;
    width: 135px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: #d7d7d7;
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  &__row {
    display: flex;
    gap: 10px;
  }

  &__button {
    border-radius: 20px;
    padding: 5px 10px;
    width: 25px;
    height: 25px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: #000;
    font-weight: 400;
    font-size: 12px;
    color: #fff;
  }

  &__button:hover {
    background-color: #333;
  }

  &__button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: #000 solid 2px;
  }

  &__line {
    width: 736px;
    height: 1px;
    background-color: #000;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}