.calculator {
  background-color: #fff;
  width: 730px;
  height: 220px;
  padding-top: 32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;

  &__title {
  
    padding-bottom: 20px;
    color: #000;
    font-family: 'Montserrat Alternates';
    font-size: 18px;
    font-weight: 400;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__input-1,
  &__input-2,
  &__input-3 {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    padding: 10px;
    width: 170px;
    height: 32px;
    border-radius: 40px;
    text-align: center;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
  }

  &__row {
    display: flex;
    gap: 5px;
  }

  &__button {
    background-color: #000;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    border: none;
    transition: background 0.3s;
  }

  &__button:hover {
    background-color: #333;
  }

  &__dorivnue {
    background-color: #000;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 20px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: #000;
  }
}