.cook-of-future {
    margin-bottom: 40px;
    height: 307px;

    @media screen and (min-width: 768px) {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    &__button {
        border-radius: 20px;
        padding: 9px 20px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        background: #000;
        margin-bottom: 15px;
        font-weight: 400;
        transform: scale(0.7);
        font-size: 16px;
        border: 1px rgba(255, 255, 255, 0) solid;
        color: #fff;
        @media screen and (min-width:768px) {
        }
    }

    &__formater {
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100px;

        @media screen and (min-width:768px) {
            width: 650px;
            height: 90px;
        }
    }
    
    &__form {
        width: 320px;
        @media screen and (min-width:768px) {
        }
    }
    &__title {
        text-align: center;
        padding-bottom: 31px;
        color: #000;
        font-size: 14px;
        margin-top: 53px;
        font-weight: 400;

        @media screen and (min-width: 768px) {
            font-size: 17px;
        }
    }
}