.google-dinosaur {

  &__line {
    margin-top: 0;
    width: 736px;
    height: 1px;
    flex-shrink: 0;
    stroke-width: 1px;
    background-color: #000;
    border: none;
    margin-bottom: 36px;
  }

  &__container{
    padding-bottom: 34px;
    background-color: #fff;
  }
}

#game-dino{
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}