.randnumb {
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        padding-bottom: 36px;
        background-color: #fff;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: row;
    }

    &__form {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        padding-right: 200px;
        margin-right: 60px;
    }

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 31px;
        color: #000;
        font-family: 'Montserrat Alternates';
        font-size: 18px;
        font-weight: 400;
    }

    &__line {
        width: 736px;
        height: 1px;
        flex-shrink: 0;
        stroke-width: 1px;
        background-color: #000;
        border: none;
        margin-bottom: 36px;
    }

    &__icons {
        fill: #fff;
        margin: 0;
        padding-top: 0;
    }

    &__button {
        background-color: black;
        padding-bottom: 3px;
        border-start-end-radius: 20px;
        border-end-end-radius: 20px;
        position: relative;
        width: 40px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__input {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 12px;
        color: #7e7e7e;
        border-start-start-radius: 20px;
        border-end-start-radius: 20px;
        padding: 16px 45px 15px 10px;
        width: 170px;
        height: 32px;
    }

    &__message {
        font-size: 18px;
        margin-top: 10px;
    }

    &__message-box {
        margin-top: 30px;
        padding-left: 149px;
    }
}

.win {
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #039900;
}

.lose {
    color: red;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
}