.randnumb {
 display: flex;
  justify-content: center;
  align-items: center;


  &__container {
    background-color: #fff;
    padding-bottom: 36px;
  }

  &__form {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
  }

  &__input-wrapper {
    display: flex;
    padding: 31px;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 31px;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 18px;
    margin-top: 53px;
    margin-left: 35px;
    font-weight: 400;
  }

  &__icons {
    fill: #fff;
    margin: 0;
    padding-top: 0;
  }

  &__button {
    background-color: black;
    padding-bottom: 3px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    position: relative;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__input {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    padding: 16px 45px 15px 10px;
    width: 170px;
    height: 32px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__message {
    font-size: 18px;
    margin-top: 10px;
    display: block;
    visibility: visible;
  }

  &__icons {
    fill: #fff;
    margin: 0;
    padding-top: 0;
  }

  &__button {
    background-color: black;
    padding-bottom: 3px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    position: relative;
    width: 40px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__input {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    padding: 16px 45px 15px 10px;
    width: 170px;
    height: 32px;
    margin-bottom: 60px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__message {
    font-size: 18px;
    margin-top: 10px;
    display: block;
    visibility: visible;
  }

  &__message-box {
    margin-top: 30px;
    padding-left: 149px;
  }
}

.win {
  font-weight: 400;
  font-size: 12px;
  text-align: right;
  color: #039900;
}

.lose {
  color: red;
  font-weight: 400;
  font-size: 12px;
  text-align: right;
}
