.leap-year {

  &__container {
    background-color: #fff;
    padding-bottom: 36px;
  }

  &__title-box {
    color: #000;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    font-family: Montserrat Alternates;
    padding-top: 15px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      font-size: 20px;
      font-weight: 400;
      padding-top: 30px;
      padding-bottom: 36px;
    }

    @media screen and (min-width: 1090px) {
      font-size: 24px;
    }
  }
  &__text {
    text-align: center;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 36px;
  }

  &__text.dark-mode{
    color: #fff;
  }
  &__form {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 0;

    @media screen and (min-width: 768px) {
      padding-right: 200px;
    }


    @media screen and (min-width: 1200px) {
      margin-right: 60px;
    }
  }
  &__input {
    width: 220px;
    height: 36px;
    display: inline-flex;
    padding: 10px 20px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #d7d7d7;
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.25);
    border: none;

    
  }

  &__input::placeholder{
    color: #7E7E7E;
    font-family: "Montserrat Alternates";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__button {
    margin-left: 180px;
    margin-top: -35px;
    padding: 13px;
    height: 36px;
    background-color: #000;
    width: 40px;
    border-radius: 0px 20px 20px 0px;


    @media screen and (min-width: 768px) {
      margin-top: 0;
      margin-left: -40px;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 768px){
      flex-direction: row;
    }

  
  }

  &__box-item{
    margin-top: 30px;
    padding-left: 25px;

    @media screen and (min-width: 768px){
    padding-left: 149px;
    }

    
  }

  &__img {
    position: absolute;
    margin-top: -10px;
    margin-left: -12px;
    fill: white;
  }
  &__result {
    position: absolute;
    font-family: "Montserrat Alternates";
    font-weight: 400;
    text-align: right;
    font-size: 12px;


    @media screen and (min-width: 1200px) {
      margin-top: -23px;
    }
  }
}
