.team {


    &__line {
        margin-top: 0;
        width: 736px;
        height: 1px;
        flex-shrink: 0;
        stroke-width: 1px;
        background-color: #000;
        border: none;
        margin-bottom: 36px;
      }

      &__container {
        background-color: #fff;
        padding-bottom: 36px;
      }
    &__text {
        text-align: center;
        margin-bottom: 36px;
        color: #000;
        font-family: "Montserrat";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__navigation-button:first-child {
        margin-right: 328px;
        background-color: transparent;
        @media screen and (max-width: 768px) {
            margin-right: 50px;
        }
        @media screen and (max-width: 1199px) {
            margin-right: 125px;
        }
    }

    &__navigation-button:last-child {
        margin-left: 328px;
        background-color: transparent;
        @media screen and (max-width: 768px) {
            margin-left: 50px;
        }
        @media screen and (max-width: 1199px) {
            margin-left: 125px;
        }
    }

    &__slider-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__slider div:not(div:first-child) {
        display: none;
    }

    &__slider-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__slider-img {
        width: 150px;
        height: 150px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #D9D9D9;
        margin-bottom: 20px;
        @media screen and (max-width: 768px) {
            width: 100px;
            height: 100px;
        }
    }

    &__slider-text {
        color: #000;
        font-family: "Montserrat";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 20px;
        text-align: center;
    }

    &__slider-desc {
        color: #000;
        font-family: "Montserrat";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
    }
}