@use "./base/reset" as *;
@use "./base/common" as *;
@use "./modal/open-modal" as *;
@use "./modal/footer-modal" as *;
@use "./sections/header" as *;
@use "./sections/biggest-number" as *;
@use "./sections/calculator" as *;
@use "./sections/choose-scientist" as *;
@use "./sections/football" as *;
@use "./sections/google-dinosaur" as *;
@use "./sections/guess-number" as *;
@use "./sections/leap-year" as *;
@use "./sections/our-command" as *;
@use "./sections/rock-scissors-paper" as *;
@use "./sections/time-calculator" as *;
@use "./sections/clicker" as *;
@use "./sections/footer" as *;
  
  button.dark-mode {
    background-color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
 

  body.dark-mode {
    background-color: #7E7E7E;
  }
  
  button.dark-mode {
    background-color: #ffffff;
    color: #000;
  }

  .scroll-to-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .scroll-to-top-btn:hover {
    background-color: rgb(56, 56, 56);
    transition: all ease-in 0.2s;
  }
  
  