    <section id="numerical" class="container">
    <div class="biggest-number">
        <h1 class="big-num-title">Введіть 3 числа</h1>
        <ul class="sug-num-list">
        <li class="sug-num-item">
            <input class="sug-num-text" placeholder="Введіть число"/>
        </li>
        <li class="sug-num-item">
            <input class="sug-num-text" placeholder="Введіть число"/>
        </li>
        <li class="sug-num-item">
            <input class="sug-num-text" placeholder="Введіть число"/>
        </li>
        </ul>
        <p class="final-res">
        Найбільше число, яке ви ввели - (<span class="big-num-res">число</span>)
        </p>
    </div>
    </section>
