<section class="scientist">
    <div class="container scientist__container">
        <h2 class="scientist__title">Обери вченого/их</h2>
        <ul class="scientist__box">
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Albert Einstein <br>1879-1955</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Isaac Newton <br>1643-1727</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Galileo Galilei <br>1564-1642</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist_backdrop">
                        <p class="scientist__description">Marie Curie <br>1867-1934</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Johannes Kepler <br>1571-1630</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Nicolaus Copernicus <br>1473-1543</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Max Planck <br>1858-1947</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Katherine Blodgett <br>1898-1979</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Ada Lovelace <br>1815-1852</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Sarah E. Goode <br>1855-1905</p>
                    </div>
                    </img>
                </div>
            </li>
            <li class="scientist__item">
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Lise Meitner <br>1878-1968</p>
                    </div>
                    </img>
                </div>
            </li>
            <li>
                <div>
                    <img src="../img/team-student.png" alt="">
                    <div class="scientist__backdrop">
                        <p class="scientist__description">Hanna Hammarström <br>1829-1909</p>
                    </div>
                    </img>
                </div>
            </li>
        </ul>
        <div class="scientist__button-box">
            <ul class="scientist__button-list">
                <li class="scientist__button-item">
                    <button class="scientist__button">Які вчені народилися в 19 ст.</button>
                </li>
                <li class="scientist__button-item">
                    <button class="scientist__button">Відсортувати вчених за алфавітом</button>
                </li>
                <li class="scientist__button-item">
                    <button class="scientist__button">Відсортувати вчених за кількістю прожитих років</button>
                </li>
                <li class="scientist__button-item">
                    <button class="scientist__button">Знайти вченого, який народився найпізніше</button>
                </li>
                </ul>
                <ul class="scientist__button-list2">
                <li class="scientist__button-item">
                    <button class="scientist__button">Знайти рік народження Albert Einshtein</button>
                </li>
                <li class="scientist__button-item">
                    <button class="scientist__button">Знайти вчених, прізвища яких починаються на на літеру “С” </button>
                </li>
                <li class="scientist__button-item">
                    <button class="scientist__button">Видалити всіх вчених, ім’я яких починається на “А”</button>
                </li>
                <li class="scientist__button-item">
                    <button class="scientist__button">Знайти вченого, який прожив найдовше і вченого, 
                        який прожив найменше</button>
                </li>
            </ul>
        </div>
    </div>
</section>