<section class="clicker" id="number">
<div class="container">
    <div class="game-container">
        <h2>Клікер</h2>
        <button id="start-button">Розпочати</button>
        <div id="timer" class="timer"></div>
        <div id="status-text" class="status-text">Неактивна фаза</div>
        <div id="phase-description">Неактивна фаза - натисніть на кнопку розпочати, щоб почати випробування.<br> 1 клік на клавішу U прирівнюється 2 клікам на поле.</div>
        <div id="click-area" class="click-area"></div>
        <div id="clicks-text">Кліки: <span id="click-count">0</span>/3300</div>
        <button id="stop-button">Відміна</button>
        <div id="result"></div>
    </div>
</div>
</section>