<hr class="line">
<section class="clicker" id="playing">
    <div class="clicker__container container">
        <h2 class='clicker__title'>Клікер</h2>
        <button id="start-button" class="clicker__start-button" disabled>Розпочати</button>
        <div id="timer" class="clicker__timer" style="color: rgb(0, 255, 234); border: 2px solid black;">00:10</div>
        <div id="status-text" class="clicker__status-text">Неактивна фаза</div>
        <div class="clicker__formater">
        <div id="phase-description" class="clicker__phase-description">Прокинулось давне зло. Натискайте на поле допомагаючи Бундючикам(індичкам) його здолати.<span class="color"> Суворо заборонено натискати на кнопку розпочати під час підготовчої та активної фази. Якщо зробите це для нормальної гри перезавантажте сайт</br></div>
        </div>
            <div id="click-area" style="border: 2px double black;" class="clicker__click-area clicker__click-area--inactive">
            <div id="clicks-text" class="clicker__clicks-text clicker__clicks-text--hidden">Кліки: <span id="click-count">0</span>/11,250</div>
        </div>
        <div id="result" class="clicker__result"></div>
    </div>
</section>
<hr class="line high">