<section id="numerical" class="clock">
    <div class="container clock__container">
        <h2 class="clock__title">Орієнтир за часовим поясом</h2>
        <div id="clock" class="clock__clock"></div>
        <select id="timezone" onchange="updateClock(); setHeight()">
            <option value="Europe/Kiev" selected>Київ</option>
            <option value="UTC">UTC</option>
            <option value="GMT">GMT</option>
            <option value="America/New_York">Нью-Йорк</option>
            <option value="America/Chicago">Чикаго</option>
            <option value="America/Denver">Денвер</option>
            <option value="America/Los_Angeles">Лос-Анджелес</option>
            <option value="Pacific/Honolulu">Гонолулу</option>
            <option value="Asia/Tokyo">Токіо</option>
            <option value="Asia/Shanghai">Шанхай</option>
            <option value="Asia/Hong_Kong">Гонконг</option>
            <option value="Asia/Singapore">Сінгапур</option>
            <option value="Asia/Dubai">Дубай</option>
            <option value="Asia/Kolkata">Калькутта</option>
            <option value="Asia/Jakarta">Джакарта</option>
            <option value="Europe/London">Лондон</option>
            <option value="Europe/Berlin">Берлін</option>
            <option value="Europe/Paris">Париж</option>
            <option value="Europe/Moscow">Москва</option>
            <option value="Africa/Cairo">Каїр</option>
            <option value="Africa/Johannesburg">Йоганнесбург</option>
            <option value="Australia/Sydney">Сідней</option>
            <option value="Australia/Perth">Перт</option>
            <option value="America/Sao_Paulo">Сан-Паулу</option>
        </select>
    </div>
</section>