<section id="playing" class="football">
    <div class="container football__container">
        <div>
            <hr class="line">
        </div>
        <div class="football__line-box">
            <h2 class="football__title">Футбол</h2>
            <h2 class="football__count">Ти забив: <span id="goal-count">0</span></h2>
            <div class="football__field">
                <img class="football__ball" src="./img/football.png" alt="Football">
                <img class="football__net" id="goal-right" src="./img/football-net.png" width="125px" alt="Football Net">
                <img class="football__second-net" id="goal-left" src="./img/football-net.png" width="125px" alt="Football Net">
            </div>
        </div>
    </div>
</section>