<section id="playing" class="football">
    <div class="container football__container">
        <div>
            <hr class="line">
        </div>
        <div class="football__line-box">
            <h2 class="football__title">Футбол</h2>
            <h3 class="football__timer">Час: <span id="timer">30 сек</h3>
            <h2 class="football__count">Ти забив: <span id="goal-count">0</span></h2>
            <div class="football__field">
                <img class="football__ball" src="./img/football.png" alt="Football">
                <img class="football__net" id="goal-left" src="./img/football-net.png" width="125px" alt="Football Net">
            </div>
        </div>
        <div class="football__buttons">
            <button class="football__stop" style="display: none;">Стоп</button>
            <button class="football__start">Старт</button>
        </div>
    </div>
</section>
