<section id="playing" class="container">
  <div>
    <hr class="line" />
  </div>
    <div class="dino__box-item">
      <p id="dino-result" class="dino__result"></p>
  </div>
  <div class="dino">
    <button class="dino__start" type="button">
      <p>Dino start</p>
    </button>
    <p class="dino__comp">For jump hold j</p>
    <div class="dino__per-container">
      <div class="dino__per">
        <img src="./img/dino.svg" alt="" />
      </div>
    </div>
    <div class="dino__cactus">
      <img src="./img/dino-cactus.png" alt="" />
    </div>

    <div class="dino__line"></div>
  </div>
</section>
