<section class="randnumb" id='numerical'>
<div class="randnumb__line"></div>
    <div class="leap-year__box">
      <h2 class="randnumb__title">Вгадай число, яке загадав комп'ютер</h2>
        <form class="leap-year__form">
          <div class="leap-year__content">
            <input type="text" class="leap-year__input" placeholder="Введіть число" id="numbInput">
            <button type="button" id="numbButton" class="leap-year__button">
              <svg class="leap-year__img" width="15" height="15">
                <use href="./img/symbol.defs.svg#icon-search"></use>
              </svg>
            </button>
            <div class="leap-year__box-item">
              <p id="numb-result" class="leap-year__result"></p>
            </div>
          </div>
        </form>
    </div>
</section>