<section id="numerical" class="leap-year">
    <div class="leap-year__container container">
        <div class="leap-year__title-box">
            <h1 class="leap-year__title">Популярні інтерактивні ігри</h1>
        </div>
        <div>
            <hr class="leap-year__line">
        </div>
        <div class="leap-year__box">
            <h2 class="leap-year__text">Перевір в який рік ти народився</h1>
                
                    <form class="leap-year__form">
                        <div class="leap-year__content">
                        <input type="text" class="leap-year__input" placeholder="Введіть рік народження" id="yearInput">
                        <button type="button" id="checkButton" class="leap-year__button">
                            <svg class="leap-year__img" width="15" height="15">
                                <use href="./img/symbol.defs.svg#icon-search"></use>
                            </svg>
                        </button>
                        <p id="result" class="leap-year__result"></p>
                    </div>
                </form>
        </div>
    </div>
</section>