<section id="numerical" class="leap-year">
    <div class="leap-year__container container">
        <div class="leap-year__title-box">
            <h1 class="leap-year__title">Популярні інтерактивні ігри</h1>
        </div>
        <div>
            <hr class="leap-year__line">
        </div>
        <div class="leap-year__box">
            <h2 class="leap-year__text">Перевір в який рік ти народився</h1>
                <form class="leap-year__form">
                    <div class="leap-year__content">
                        <input type="text" class="leap-year__input" placeholder="Введіть рік народження" id="yearInput">
                        <button type="button" id="checkButton" class="leap-year__button">

                                <svg width="24" height="24" class="leap-year__img" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g class="randnumb__eco" filter="url(#filter0_dd_27_33)">
                                    <circle cx="10.5217" cy="6.52174" r="5.52174" stroke="white" stroke-width="2"
                                        fill="transparent" />
                                    <path
                                        d="M18.2929  16.0976 19.3166 16.0976 19.7071 15.7071C20.0976 15.3166 20.0976 14.6834 19.7071 14.2929L18.2929 15.7071ZM15.468 10.0538L14.7609 9.34665L13.3467 10.7609L14.0538 11.468L15.468 10.0538ZM19.7071 14.2929L15.468 10.0538L14.0538 11.468L18.2929 15.7071L19.7071 14.2929Z"
                                        fill="white" />
                                </g>

                            </svg>
                        </button>
                        <div class="leap-year__box-item">
                            <p id="result" class="leap-year__result"></p>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</section>