<div class="open-modal-backdrop">
    <div class="open-modal">
        <h2 class="open-modal__title">Привіт! <br>
            Ви потрапили на сайт інтерактивних ігор та завдань <br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br>
            Бажаємо Вам гарно провести час!</h2>
        <h2 class="open-modal__text">Введіть своє ім’я:</h2>
        <div class="open-modal__answer-box">
            <input type="text" class="open-modal__input" placeholder="Ваше ім’я...">
            <button class="open-modal__button" data-open-modal-close>Зберегти</button>
        </div>
    </div>
</div>