<div class="open-modal-backdrop">
    <div class="open-modal">
        <div class="open-modal__close-box">
            <button class="open-modal__close" data-open-modal-close>
                <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" viewBox="0 0 17 17" fill="none">
                    <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
                </svg>
            </button>
        </div>
        <h2 class="open-modal__title">Привіт! <br>
            Ви потрапили на сайт інтерактивних ігор та завдань <br>
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br>
            Бажаємо Вам гарно провести час!</h2>
        <h2 class="open-modal__text">Введіть своє ім’я:</h2>
        <div class="open-modal__answer-box">
            <input type="text" class="open-modal__input" placeholder="Ваше ім’я...">
            <button class="open-modal__button" data-open-modal-close>Зберегти</button>
        </div>
    </div>
</div>

<p class="header-hello-user">Вітаємо, <span>User</span>!</p>