<section id="numerical" class="time-calculator">
  <div class="time-calculator__content container">
    <div class="time-calculator__title-box">
      <div>
        <hr class="line">
      </div>
      <h2 class="time-calculator-title">Калькулятор часу</h2>
      <div class="time-calculator-box">
        <form class="time-calculator-form">
          <input type="text" class="time-calculator-input" placeholder="Ведіть число" />
          <button type="submit" class="time-calculator-button">
            <svg width="24" height="24" class="time-calculator-icons" viewBox="0 0 24 24" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <g class="randnumb__eco" filter="url(#filter0_dd_27_33)">
                <circle cx="10.5217" cy="6.52174" r="5.52174" stroke="white" stroke-width="2" fill="transparent" />
                <path
                  d="M18.2929  16.0976 19.3166 16.0976 19.7071 15.7071C20.0976 15.3166 20.0976 14.6834 19.7071 14.2929L18.2929 15.7071ZM15.468 10.0538L14.7609 9.34665L13.3467 10.7609L14.0538 11.468L15.468 10.0538ZM19.7071 14.2929L15.468 10.0538L14.0538 11.468L18.2929 15.7071L19.7071 14.2929Z"
                  fill="white" />
              </g>
            </svg>
          </button>
        </form>
        <div class="time-calculator-time-div"></div>
        <p class="time-calculator-time">0 дн. 00:00:00</p>
      </div>
    </div>
  </div>
</section>