<section id="numerical" class="time-calculator">
<div>
<hr class="time-calculator__line">
</div>
    <div class="container time-calculator__content">
    <h2 class="time-calculator-title">Калькулятор часу</h2>
    <div class="time-calculator-box">
      <form class="time-calculator-form">
        <input type="text" class="time-calculator-input" placeholder="Ведіть число" />
        <button type="submit" class="time-calculator-button">
  
          <svg width="15" height="15" class="time-calculator-icons">
            <use href="../img/symbol.defs.svg#icon-search"></use>
          </svg>
  
        </button>
      </form>
  
      <div class="time-calculator-time-div"></div>
      <p class="time-calculator-time">0 дн. 00:00:00</p>
    </div>
  

  </section>